<%-include("Partials/header")-%>



  <div class="container">
		<div class="carousel slide" id="main-carousel" data-ride="carousel" style="margin-bottom: 12%;">
			<ol class="carousel-indicators">
				<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#main-carousel" data-slide-to="1"></li>
				<li data-target="#main-carousel" data-slide-to="2"></li>
			</ol><!-- /.carousel-indicators -->

			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="d-block img-fluid" src="/img/b1.jpg" alt="" style="height: 627; width: 1200;">
				</div>
				<div class="carousel-item">
					<img class="d-block img-fluid" src="/img/b2.jpg" alt="">
				</div>
				<div class="carousel-item">
					<img class="d-block img-fluid" src="/img/b3.jpg" alt="">
				</div>
			</div><!-- /.carousel-inner -->

			<a href="#main-carousel" class="carousel-control-prev" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
				<span class="sr-only" aria-hidden="true">Prev</span>
			</a>
			<a href="#main-carousel" class="carousel-control-next" data-slide="next">
				<span class="carousel-control-next-icon"></span>
				<span class="sr-only" aria-hidden="true">Next</span>
			</a>
		</div><!-- /.carousel -->
	</div><!-- /.container -->



  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
          <image xlink:href="/img/customer.png" x="0" y="0" width="100%" height="100%"/>
          <title>Placeholder</title>

        </svg>

        <h2>Our Costomers</h2>
        <p>Here are our valuable coutomers, whose trust make us rich.</p>
        <p><a class="btn btn-info" href="/customer">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
          <image xlink:href="/img/transfer.png" x="0" y="0" width="100%" height="100%"/>
          <title>Placeholder</title>

        </svg>

        <h2>Easy Transfer</h2>
        <p>Exciting feature to transfer money with zero effort. </p>
        <p><a class="btn btn-success" href="/customer/608ecf1da38a1f0910e85485/transfer">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
          <image xlink:href="/img/transaction.png" x="0" y="0" width="100%" height="100%"/>
          <title>Placeholder</title>

        </svg>

        <h2>Transactions</h2>
        <p>This feature allows users to see transaction history.</p>
        <p><a class="btn btn-info" href="/transactions">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg"
        role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
          focusable="false">

          <image xlink:href="/img/1.jpg" x="0" y="0" width="100%" height="100%"/>
          <title>Placeholder</title>

        </svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout
          would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg"
        role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
          focusable="false">
          <title>Placeholder</title>
          <image xlink:href="/img/2.jpg" x="0" y="0" width="100%" height="100%"/>

        </svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read,
          simply here to give you a better view of what this would look like with some actual content. Your content.
        </p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg"
        role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
          focusable="false">
          <title>Placeholder</title>
          <image xlink:href="/img/3.jpg" x="0" y="0" width="100%" height="100%"/>

        </svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

  <%-include("Partials/footer")-%>
